#Configuration file for aquatic from Aqmods
#Thu Mar 16 02:24:58 EDT 2023
config.version=1.2
hermitcrab.spawnweight=50
jellyfish.spawnweight=50
shark.attack_speed=4.0
shark.attackfish=true
shark.damage=8.0
shark.follow=32.0
shark.health=30.0
shark.knockback=0.1
shark.spawnweight=50
shark.speed=2.5
sunfish.health=30.0
sunfish.spawnweight=50
sunfish.speed=2.5
